body
{
	background-color: #777777;
}

#content
{
	margin-top: 6px;
	margin-left: 40px;
	margin-right: 40px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 5px;
	padding-top: 5px;
	background-color: #ffffff;
}

h1
{
	padding-top:0px;
	padding-bottom:0px;
	padding-left:0px;
	padding-right:0px;
	
}

ul
{
	list-style-type:none;
}
ul li
{
	margin-bottom: 4px;
}
