/*
 * Header and Navbar styles
 */
html
{
	height:100%;
	margin:0;
	padding:0;
	
}
body
{
	margin:0;
	padding:0;
	float:clear;
	height:100%;
}
#body
{
	min-height:100%;
	position:relative;
}
.navbar
{
	font-family: 'Cuprum', sans-serif;
	font-size: 18px;
	background-color:#1c1c1c;
	color: #d7d7d7;
	padding-top:1px;
	padding-bottom:1px;
	float:left;
	width:100%;
}
.nav
{
	padding-left:10px;
	list-style:none;
	float:left;
}
.nav
{
	line-height:18px;
}

.nav li
{
	text-decoration:none;
	display:inline;
}

.nav li a 
{
	text-decoration:none;
	color: #d7d7d7;
	margin-right: 8px;
	margin-left: 8px;
}

.nav li a:hover
{
	color: #ffffff;
}

.navbar-inner
{
	line-height:18px;
}

#logo
{
	float:left;
	padding-left: 20px;
}
#logo img
{
	width: 40px;
	height: 40px;
	margin-top:5px;
	margin-bottom:5px;
	margin-left:6px;
}

.footer
{
	font-family: 'Cuprum', sans-serif;
	background-color: #1c1c1c;
	color: #d7d7d7;
	text-align: center;
/*	padding-top: 13px;
	padding-bottom: 15px;*/	position:absolute;
	width:100%;
	height:46px;
	position:absolute;
	bottom:0;
}

.footer a
{
	color: #d7d7d7;
}

.footer a:hover
{
	color: #ffffff;
}


#divider
{
	margin-top: 5px;
	margin-bottom: 5px;
	width: 100%;
	height:2px;	
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(left,  rgba(255,255,255,1) 11%, rgba(91,91,91,1) 51%, rgba(255,255,255,1) 89%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(11%,rgba(255,255,255,1)), color-stop(51%,rgba(91,91,91,1)), color-stop(89%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 11%,rgba(91,91,91,1) 51%,rgba(255,255,255,1) 89%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(255,255,255,1) 11%,rgba(91,91,91,1) 51%,rgba(255,255,255,1) 89%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(255,255,255,1) 11%,rgba(91,91,91,1) 51%,rgba(255,255,255,1) 89%); /* IE10+ */
	background: linear-gradient(to right,  rgba(255,255,255,1) 11%,rgba(91,91,91,1) 51%,rgba(255,255,255,1) 89%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}

/*
 * Layout styles
 */
.title
{
	background-color:#38393b;
	color:#d7d7d7;
	padding-bottom: 45px;
	font-family: 'Cuprum', sans-serif;
	font-size: 24px;
}

.details
{
	margin:0;
	padding:0;
	margin-top: 10px;
	font-size: 15px;
	line-height:24px;
	margin-left:20px;
	margin-right:40px;
	
}

.container
{
	font-family: 'Cuprum', sans-serif;
	font-weight:700;
	padding-top: 56px;
	padding-bottom:46px;
}

.row
{
	width:100%;
	text-align: center;
	padding-bottom: 20px;
}

.row-inner
{
	margin-left:auto;
	margin-right:auto;
	width:50%;
}

.container strong
{
	font-weight: bolder;
	font-family: 'Droid Sans', sans-serif;
}

.text-left
{
	text-align:left;
}

.text-right
{
	text-align: right;
}

@media only screen and (max-width: 665px) {
	#logo {
		display:none;
	}
	
}
